<h2>Body component</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis minima quasi rerum odio, nobis, aliquam enim nam dolorum distinctio maiores fugit repellendus voluptatum magnam cumque, possimus tenetur magni corporis error!
</p>
